$light: #eeeeee;
$red: #FF0032;
$dark: #160A16;
$blue: #074050;
$light-blue: #1C95A3;
$screen-break1: 440px;
$screen-break2: 610px;
$screen-break3: 910px;



* { 
	margin: 0; 
	padding: 0; 
}
h1{
	color: $red;
	font-size: 3em;
	font-family: 'Bangers', cursive;
}
h2{
	color: #eaeaea;
	font-size: 2em;
	font-family: 'Roboto';
	font-weight: bold;
}
h3{
	color: #fefefe;
	font-size: 1.5em;
	font-family: 'Roboto';
}


body {
	background-color: $light;
  	color: #333;
  	margin: 0 0;
  	border: none;
  	section{
  		height: 100vh;
  	}
  	#navigation{
  		position: fixed;
	  	width: 100%;
	  	display: none;
	  	opacity: 0;
	  	z-index: 2000;
	  	justify-content: space-between;
	  	padding: 0.5em 1em 0.5em 1em;
	  	background-color: #074050;
	  	transition: 0.2s all ease-in;
	  	&.fade-in{
	  		display: flex;
  			opacity: 1;
	  	}
	  	ul{
	  		display: flex;
  			padding-right: 3em;
			margin-top: 1.1em;
  			li{
  				padding-right: 5.7em;
  				list-style: none;
  				&:last-of-type{
		  			padding: 0;
  				}
  				&.active{
				  	a{
						color: #FF0032;
				  	}	
				}
  			}

	  	}
	  	a{
	  		text-decoration: none;
		  	list-style-type: square;
		  	list-style: none;
		  	color: #fefefe;
		  	padding: 1.5em 0.8em;
		  	font-size: 1.2em;
		  	&:hover{
		  		color: #FF0032;
		  	}
	  	}
	  	.burgerwrapper{
	  		display: none;
		  	cursor: pointer;
		  	position: absolute;
		  	width: 2.8em;
		  	height: 3em;
		 	right: 0;
		  	margin-top: 0.2em;
		  	margin-right: 3em;
		  	.burger{
		  		margin-top: 1.5em;
			    right: 0;
			    background-color: #fefefe;
			    border-style: none;
			    width: 2.4em;
			    height: 0.3em;
			    transition: all 0.3s ease-out;
			    &::before{
				    margin-top: 1.5em;
				    position: absolute;
				    content: "";
				    width: 2.4em;
				    height: 0.3em;
				    top: 0;
				    left: 0;
				    background-color: #fefefe;
				    transform: translate(0, -0.7em);
				    transition: all 0.5s ease;
			    }
			    &::after{
			    	margin-top: 1.5em;
				  	position: absolute;
				  	content: "";
				 	width: 2.4em;
				  	height: 0.3em;
				  	top: 0;
				  	left: 0;
				  	background-color: #fefefe;
				  	transform: translate(0, 0.7em);
				  	transition: all 0.5s ease;	
			    }
		  	}
	  	}
	  	.burger.x{
	  		background-color: transparent;
  			cursor: pointer;
  			&::before{
				transform: rotate(45deg);
			  	background-color: #fefefe;
			  	width: 2.4em;
  			}
  			&::after{
  				transform: rotate(315deg);
  				background-color: #fefefe;
  			}
	  	}
		#logo{
			width: 50px;
			a{
				padding: 0em 0em;
			}
			img{
				width: 50px;
  				transition: content 3s;
  				&:hover{
  					content: url("../../src/img/superlukas.svg");
				}
			}
		}
		@media screen and (max-width: $screen-break2) {
			display: block;
			.burgerwrapper{
				display: block;
			}
			 nav {
			    display: none;
			    width: 100%;
			    height: 20%;

			    ul {
			      display: block;
			      margin-top: 3em;
			      background-color: #074050;;
			      margin-left: -9em;
			      height: 100%;
			      padding-right: 0;
			      li {
			        width: 100%;
			        text-align: center;
			        &:hover {
			          background-color: #fefefe;
			        }
			        a {
			          display: block;
			          width: 100%;
			          height: 1.4em;
			          padding-top: 0.9em;
			          padding-bottom: 0.7em;
			          color: #fefefe;
			          &:hover {
			            color: #FF0032;
			          }
			        }
			      }
			    }
			    &.drop {
			      display: block;
			    }
			  }
			  &.h {
			    padding-bottom: 0;
			    /*height: 26.39%;*/
		    	  	nav{
				  		padding-top: 1.1em;
				  	}
			  }
		}
  	}
	header {
	  	position: relative;
	  	height: 90vh;
	  	background: #222 url("../../src/img/background_start_blur.jpg") fixed;
	    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 87%, 50% 75%, 0% 75%);
		display: flex;
  		justify-content: center;
		.header_wrapper{
			position: relative;
			width: 22em;
   			height: 27em;
			.header_hero{
				position: absolute;
				top: 19.5%;
				left: 11%;
				height: 260px;
				width: 260px;
				background-image: url("../../src/img/superlukas.svg");
				-webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        transition: 0.6s ease-in;
				&:hover{
					background-image: url("../../src/img/lukas.svg");
				}
				&:focus{
					background-image: url("../../src/img/lukas.svg");
				}
			}
			.header_title{
				position: absolute;
			    top: 11%;
				left: 21%;
			}
			.header_title2{
				position: absolute;
			   	top: 82%;
				left: 27%;
			}
			@media screen and (min-width: $screen-break2) {
				margin-top: 4em;
			}
		}	
	}
	/* mobile */
	#about{
		background-color: $light;
  		h1{
  			margin-top: -29vw;
    		margin-left: 9vw;
    		@media screen and (min-width: $screen-break1) {
				margin-top: -23vw;
			}
			@media screen and (min-width: $screen-break2) {
				margin-top: -16vw;
			}
			@media screen and (min-width: $screen-break3) {
				margin-top: -6vw;
			}

  		}
  		.about_text_wrapper{
  			margin-top: 3em;
  			display: flex;
  			justify-content: center;
  			.about_text{
  				font-family: 'Roboto';
  				font-size: 1.5em;
  				padding: 1em 1em;
  			}
  		}

	}
	#projects{
		background-color: #C49363;
		h1{
			margin-left: 9vw;
			padding-top: 3em;
			color: #160A16;
		}
	}
	#contact{
		background-color: #1C95A3;
		h1{
			margin-left: 9vw;
			padding-top: 3em;
			color: $light;

		}
		.contact_wrapper{
			margin-top: 3em;
			display: flex;
			justify-content: center;
			.mail_link{
				text-decoration: none;
				color: $light;
				.mail_wrapper{
					border: 0.1em solid #eeeeee;
					width: 16em;	
				    padding: 0.4em 0.4em;
				    display: flex;
				    flex-direction: row;
				    justify-content: center;
				    .mail_icon{
						width: 4em;
						height: 4em;
						padding-right: 1em;
				    }
				    .mail_text{
				    	font-size: 1.4em;
						padding-top: 0.8em;
				    }
				}
			}
		}	
	}

}
