$light: #eeeeee;
$red: #FF0032;
$dark: #160A16;
$blue: #074050;
$light-blue: #1C95A3;
$skin-color: #C49363;
$brown: #6E563D;
$screen-break1: 440px;
$screen-break2: 610px;
$screen-break3: 910px;



* { 
	margin: 0; 
	padding: 0; 
}
h1{
	color: $blue;
	font-size: 3em;
	font-family: 'Bangers', cursive;
	padding-top: 2em;
	margin-bottom: 0.5em;
}
h2{
	color: #eaeaea;
	font-size: 2em;
	font-family: 'Roboto';
	font-weight: bold;
}
h3{
	color: #fefefe;
	font-size: 1.5em;
	font-family: 'Roboto';
}
li{
	font-family: 'Roboto';
}
.flex_wrapper_c{
	width: 100%;		
	display: flex;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
	flex-direction: column;
}

body {
	background-color: $light;
  	color: #333;
  	margin: 0 0;
  	border: none;
  	#navigation{
  		position: fixed;
	  	width: 100%;
	  	display: none;
	  	opacity: 0;
	  	z-index: 2000;
	  	justify-content: space-between;
	  	padding: 0.5em 1em 0.5em 1em;
	  	background-color: #074050f0;
	  	transition: 0.2s all ease-in;
	  	&.fade-in{
	  		display: flex;
  			opacity: 1;
	  	}
	  	ul{
	  		display: flex;
  			padding-right: 3em;
			margin-top: 1.1em;
  			li{
  				padding-right: 5.7em;
  				list-style: none;
  				&:last-of-type{
		  			padding: 0;
  				}
  				&.active{
				  	a{
						color: #FF0032;
				  	}	
				}
  			}

	  	}
	  	a{
	  		text-decoration: none;
		  	list-style-type: square;
		  	list-style: none;
		  	color: #fefefe;
		  	padding: 1.5em 0.8em;
		  	font-size: 1.2em;
		  	&:hover{
		  		color: #FF0032;
		  	}
	  	}
	  	.burgerwrapper{
	  		display: none;
		  	cursor: pointer;
		  	position: absolute;
		  	width: 2.8em;
		  	height: 3em;
		 	right: 0;
		  	margin-top: 0.2em;
		  	margin-right: 3em;
		  	.burger{
		  		margin-top: 1.5em;
			    right: 0;
			    background-color: #fefefe;
			    border-style: none;
			    width: 2.4em;
			    height: 0.3em;
			    transition: all 0.3s ease-out;
			    &::before{
				    margin-top: 1.5em;
				    position: absolute;
				    content: "";
				    width: 2.4em;
				    height: 0.3em;
				    top: 0;
				    left: 0;
				    background-color: #fefefe;
				    transform: translate(0, -0.7em);
				    transition: all 0.5s ease;
			    }
			    &::after{
			    	margin-top: 1.5em;
				  	position: absolute;
				  	content: "";
				 	width: 2.4em;
				  	height: 0.3em;
				  	top: 0;
				  	left: 0;
				  	background-color: #fefefe;
				  	transform: translate(0, 0.7em);
				  	transition: all 0.5s ease;	
			    }
		  	}
	  	}
	  	.burger.x{
	  		background-color: transparent;
  			cursor: pointer;
  			&::before{
				transform: rotate(45deg);
			  	background-color: #fefefe;
			  	width: 2.4em;
  			}
  			&::after{
  				transform: rotate(315deg);
  				background-color: #fefefe;
  			}
	  	}
		#logo{
			width: 50px;
			a{
				padding: 0em 0em;
			}
			img{
				width: 50px;
  				transition: content 3s;
  				&:hover{
  					content: url("../../src/img/superlukas.svg");
				}
			}
		}
		@media screen and (max-width: 800px){
			display: block;
			.burgerwrapper{
				display: block;
			}
			nav{
			    display: none;
			    width: 100%;
			    height: 20%;
			    ul{
			      	display: block;
			      	margin-top: 3em;
			      	margin-left: -9em;
			      	height: 100%;
			      	padding-right: 0;
			      	li{
			       		width: 100%;
			        	text-align: center;
			        	&:hover{
			          		background-color: #fefefe;
			        	}
			        	a{
				          	display: block;
				          	width: 100%;
				          	height: 1.4em;
				          	padding-top: 0.9em;
				          	padding-bottom: 0.7em;
				          	color: #fefefe;
				        	&:hover {
				            color: #FF0032;
				          	}
			        	}
			    	}
			    }
				&.drop {
			      	display: block;
			    }
		  	}
		  	&.h {
	    	  	nav{
			  		padding-top: 1.1em;
			  		padding-left: 2em;
			  	}
			}
		}
  	}
	header {
	  	position: relative;
		background: url("../../src/img/background_start.jpg") fixed;
	    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 92% 75%, 92% 90%, 69% 75%, 0% 75%);		
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 92% 75%, 92% 90%, 69% 75%, 0% 75%);		
		-moz-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 92% 75%, 92% 90%, 69% 75%, 0% 75%);		
		-o-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 92% 75%, 92% 90%, 69% 75%, 0% 75%);		
		display: flex;
  		justify-content: center;
		.header_wrapper{
			position: relative;
			width: 22em;
   			height: 27em;
			.header_hero{
				position: absolute;
				top: 19.5%;
				left: 11%;
				height: 260px;
				width: 260px;
				background-image: url("../../src/img/superlukas.svg");
				-webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        transition: 0.6s ease-in;
		        -webkit-transition: 0.6s ease-in;
				&:hover{
					background-image: url("../../src/img/lukas.svg");
				}
				&:focus{
					background-image: url("../../src/img/lukas.svg");
				}
			}
			.header_title{
				position: absolute;
			    top: 11%; 
				left: 21%;
			}
			.header_title2{
				position: absolute;
			   	top: 82%;
				left: 27%;
			}
			@media screen and (min-width: $screen-break2) {
				margin-top: 4em;
			}
		}
		/*@media only screen 
		  and (device-width: 375px) 
		  and (device-height: 812px)
		  and (orientation: portrait) {
		}*/
		@media only screen and (max-width: 430px) {
			height: 95vh;
		} 
		@media only screen
			and (min-width: 430px)
			and (max-width: 1650px) {
			height: 89vh;
		}
		@media only screen
			and (min-width: 1650px){
			height: 94vh;
		}		
		@media only screen 
			and (min-device-width: 360px) 
			and (max-device-height: 640px)
		  	and (orientation: landscape) {
		  		height: 195vh;
		}	
	}
	/* mobile */
	#about{
		margin-top: -14em;
		text-align: center;
		background-color: $light;
  		.about_text_wrapper{
  			padding: 0em 1em;
  			display: flex;
  			justify-content: center;
  			.about_text{
  				font-family: 'Roboto';
  				font-size: 1.5em;
  				padding: 1em 1em;
  			}
  		}
  		.legend_wrapper{
  			justify-content: center;
  			display:flex;
  			flex-direction: row;
  			width: 100%;
  			.lived{
  				margin: 2em 2em;
  				display:flex;
  				flex-direction: row;
  				.lived_color{
  					margin-right: 1em;
  					width: 1.5em;
  					height: 1.5em;
					background-color: #FF0032;
  				}
  				.lived_text{
					font-size: 1.5em;
  				}
  			}
  			.visited{
  				margin: 2em 2em;
  				display:flex;
  				flex-direction: row;
  				.visited_color{
  					margin-right: 1em;
  					width: 1.5em;
  					height: 1.5em;
  					background-color: #1C95A3;
  				}
  				.visited_text{
					font-size: 1.5em;
  				}
  			}
  			@media screen and (max-width: $screen-break2) {
				display: none;			
			}
  		}
  		#map{
  			@media screen and (max-width: $screen-break2) {
				display: none;			
			}
  		}

		/*other phones*/
		@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) { 
			margin-top: -10em;
			height: 88vh;
		}
		@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) { 
			margin-top: -10em;
			height: 222vh;
		}

		/* iphone 7, 8 */
		@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait){
			margin-top: -10em; 
		}
		@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) { 
			margin-top: -10em;
			height: 222vh;
		}
		/* iphone 6+, 6s+, 7+, 8+ */
		@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait){ 
			margin-top: -9em;
   			height: 63vh;
		}
		@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape){ 
			margin-top: -10em;
			height: 222vh;
		}
		/* iphone X */
		@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait){ 
			margin-top: -9em;
    		height: 63vh;
		}
	}
	#projects{
		text-align: center;
		background-color: #eee;
		height: 150vh;
		h1{
			color: $blue;
			margin-bottom: 1.5em;
		}
		.projects_wrapper{
			display: table;
  			width: 100%;
  			margin-top: 3em;
			.project{
				display: table-cell;
  				align-items: center;
  				vertical-align: middle;
				display: flex;
				justify-content: center;
				h2{
					color: $dark;
					margin-bottom: 0.5em;
				}
				hr{
					margin-bottom: 2em;
				}
				p{
					font-family: 'Roboto';
					font-size: 1em;
					line-height: 1.5em;

				}
				.project_info_wrapper{
					font-family: 'Roboto';
					.link_wrapper{
						display: flex;
    					justify-content: center;
						.link_button{
							text-align: center;
							border: 0.1em solid $blue;
							padding: 0 0;
							width: 8em;
							margin-top: 1em;
							border-radius: 0.5em;
							text-transform: uppercase;
							transition: 0.3s all ease-in;
							a{	
								display: block;
								padding: 1em 2em;
								font-size: 0.7em;
								text-decoration: none;
								color: $blue;
							}
							&:hover{
								background-color: $blue;
								a{
									color: $light;
								}
							}
							&:nth-child(2){
								margin-left: 1em;
							}
						}
					}
					@media only screen and (min-width: 647px) {
						.project_text{
							padding: 0em 2em;
						}
					}
				}
				&:first-child{
					border-bottom: 1px solid #d7d7d7;
				}
				&:nth-child(2){
					margin-top: 3em;
					.screenshot{
						margin-top: 2em;
					}
				}
			}
		}
		@media only screen and (max-width: 430px) {
			height: 155vh;
			.screenshot{
					width:  300px;
					height: 300px;
				}
		}
		@media only screen and (min-width: 430px) {
			height: 162vh;
			.screenshot{
				width: 350px;
				height: 350px;
			}
		}
		@media only screen and (min-width: 600px) {
			.screenshot{
				width: 400px;
				height: 400px;
			}
		}
		@media only screen and (max-width: 1000px) {
			.project{
				flex-direction: column;
				.project_info_wrapper{
					display: table-cell;
	  				text-align: center;
	  				vertical-align: middle;
					margin-left: 2em;
					margin-right: 2em;
					.hr{
						display: none;
					}
				}
			}
		}
		@media only screen and (min-width: 1000px) {
			.project{
				.project_info_wrapper{
					font-size: 1.3em;
					margin-left: 2em;
					margin-right: 2em;
					height: 400px;
					.project_text{
						margin-top: 2em;
					}
				}
				.screenshot{
					margin-right: 6em;
				}
				flex-direction: row;
			}
		}
		@media only screen and (min-width: 1000px) 
			and (max-width: 1400px){
			height: 123vh;
		}
		@media only screen and (min-width: 1400px) {
			height: 154vh;
			.project{
				.project_info_wrapper{
					font-size: 1.5em;
					margin-left: 4em;
					margin-right: 4em;
				}
				.screenshot{
					margin-right: 6em;
				
				width: 600px;
				height: 600px;
				}
			}
		}
		/*other phones*/
		@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait){ 
			height: 222vh;
		}		
		@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) { 
			height: 400vh;
		}

		/* iphone 7, 8 */
		@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait){
			height: 208vh;
		}
		@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape){
			height: 382vh;
		}

		/* iphone 6+, 6s+, 7+, 8+ */
		@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {    
		 	height: 188vh;
		}
		@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {    
		 	height: 368vh;
		}

		/* iphone X */
		@media only screen and (device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait){ 
			height: 170vh;
		}
		@media only screen and (device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape){ 
		    height: 375vh;
		}

		/* screen hd  */
		@media only screen and (device-width: 1920px) and (max-device-height: 1080px){ 
			height: 153vh;
		}
		/* 15 inch screen */
		@media only screen and (device-width: 1366px) and (max-device-height: 768px){ 
			height: 153vh;
		}
		@media only screen and (device-width: 1824px){ 
			height: 153vh;
		}
		
	}

	#skills{
		text-align: center;
		h1{
		    color: #074050;
  		}
		.skills_wrapper{
			margin-top: 2em;
			display:flex;
	  		flex-wrap:wrap;
	  		padding:1vmin;
	  		.skill {
			  background-color:#fff;
			  border:solid 2px #000;
			  box-shadow:0 6px 6px -6px #000;
			  display:inline-block;
			  flex:1 1;
			  height:200px;
			  margin:1vmin;
			  overflow:hidden;
			  position:relative;
			  	ul{
				 	text-align: center;
				    font-family: 'Roboto';
				    list-style: none;
				    color: #333
				}
			}
			.text {
			  background-color:#fff;
			  border:solid 2px #000;
			  font-size: 1.2em;
			  margin:0;
			  padding:3px 10px;
			}
			.top-left {
			  left:-6px;
			  position:absolute;
			  top:-2px;
			  transform:skew(-15deg);
			}
			.skill:nth-child(1) {
				background-image:radial-gradient(circle, #ff6e6e, #b00325);
			  	flex-basis: 400px;
				ul{
				    padding-top: 1.3em;
				    font-size: 1.5em;
				}
			}
			.skill:nth-child(2) {
				background-image:radial-gradient(circle, #ff6e6e, #b00325);
			  	flex-basis: 200px;
			  	ul{
				    padding-top: 2.4em;
				    font-size: 1.2em;
			  	}
			}
			.skill:nth-child(3) {
			  	flex-basis: 200px;
			  	background-image:radial-gradient(circle, #eee, #1d95a3);
			  	ul{
				    padding-top: 2.5em;
				    font-size: 1.5em;
			  	}
			}
			.skill:nth-child(4) {
			  	flex-basis: 200px;
			  	background-image:radial-gradient(circle, #eee, #1d95a3);
			  	ul{
				    padding-top: 2em;
				    font-size: 1.5em;
				}
			}
			.skill:nth-child(5) {
			  	flex-basis: 200px;
			  	background-image:radial-gradient(circle, #eee, #1d95a3);
			  	ul{
				    padding-top: 2.4em;
				    font-size: 1.5em;
			  	}
			}
			.skill:nth-child(6) {
				background-image:radial-gradient(circle, #ff6e6e, #b00325);
			  	flex-basis: 200px;
			  	ul{
				   	padding-top: 1.2em;
				    font-size: 1.5em;
				}
			}
		}
		/*@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 480px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {
		  	margin-top: 19em;
		}*/
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 480px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
		  	margin-top: 46em;
		}	
		@media only screen and (max-width: 438px) {
			height: 232vh;
		}
		@media only screen and (min-width: 438px) {
			height: 125vh;
		}
		@media only screen and (min-width: 647px) {
			height: 98vh;
		}
		@media only screen and (min-width: 883px) {
			height: 80vh;
		}
		@media only screen and (min-width: 1552px) {
			height: 55vh;
		}
		/*other phones*/
		@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) { 
			height: 229vh;
		}
		@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) { 
			height: 250vh;
		}
		/* iphone 7, 8 */
		@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
			height: 219vh;
		}

		/* iphone 6+, 6s+, 7+, 8+ */
		@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)  {    
		 	height: 200vh;
		}

		/* iphone X */
		@media only screen and (device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) { 
			height: 181vh;
		}
		/* 15 inch screen */
		@media only screen and (device-width: 1366px) and (max-device-height: 768px){ 
			height: 88vh;
		}
		@media only screen and (max-device-height: 768px){ 
			margin-bottom: 3em;
		}
	}
	#contact{
		background-color: #1C95A3;
		text-align: center;
		h1{
			color: $light;
			margin-bottom: 1em;
			padding-top: 1em;
		}
		.contact_wrapper{
			margin-top: 4em;
			display: flex;
			justify-content: center;
			flex-direction: column;
    		align-items: center;
			.mail_link{
				text-decoration: none;
				color: $light;
				.mail_wrapper{
					border: 0.2em solid #eeeeee;
					width: 16em;	
				    padding: 0.4em 0.4em;
				    display: flex;
				    flex-direction: row;
				    justify-content: center;
				    border-radius: 0.5em;
				    transition: 0.2s all ease-in;
				    .mail_icon{
						width: 4em;
						height: 4em;
						padding-right: 1em;
				    }
				    .mail_text{
				    	font-size: 1.4em;
						padding-top: 0.9em;
				    }
				    &:hover{
				    	background-color: $light;

				    	.mail_icon{
				    		content: url("../../src/img/mail_hover.svg");
				    	}
				    	.mail_text{
				    		color: #1C95A3;
				    	}
				    }
				}
			}
			.social_wrapper{
				margin-top: 2em;

				.social_img{
					padding: 1em 1em;
					width: 4em;
					height: 4em;
					transition: 0.4s all ease;
					&:hover{
						transform: rotate(-45deg);
					}
					&:nth-child(2){
						&:hover{
							transform: rotate(45deg);
						}
					}
				}
			}
		}	
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 480px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: portrait) {
		  	height: 70vh;
		}
		@media only screen 
		  and (min-device-width: 320px) 
		  and (max-device-width: 480px)
		  and (-webkit-min-device-pixel-ratio: 2)
		  and (orientation: landscape) {
		  	height: 80vh;
		  	margin-top: 40em;
		}
		@media only screen and (min-width: 700px) {
			height: 46vh;
		}
		/*other phones */
		@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait){
			height: 46vh; 
		}
		@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape){ 
			height: 111vh;
		}
		/* iphone 7, 8 */
		@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait){
			height: 62vh; 
		}
		@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape){
			height: 111vh;
		}
		/* iphone 6+, 6s+, 7+, 8+ */
		@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait){    
		 	height: 56vh;
		}
		@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape){    
		 	height: 111vh;
		}
		/* iphone X */
		@media only screen and (device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait){ 
			height: 50vh;
		}
		@media only screen and (device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape){ 
			height: 111vh;
		}	
		/* 15 inch screen */
		@media only screen and (device-width: 1366px) and (max-device-height: 768px){ 
			height: 55vh;
		}
	}
	.footer{
		height: 10vh;
		background-color: $blue;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		div{
			p{
				color: #fefefe;
			}
		}
	}
	
}
